body {
    background: rgb(226, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
}
.div-h-container {
    background: white;
    margin: auto;
    display: flex;
}
.div-header {
    margin: auto;
    flex: 0.5;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.div-post {
    background: white;
    margin-top: 50px;
    width: 750px;
    
}
.div-post img {
    width: 100%;
}
.text-post {
    padding-left: 10px;
    padding-right: 10px;
}
.header-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.header-post p {
    color: grey;
    font-weight: 600;
    opacity: 0.5;
}